<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registered payees page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  
  
   
  <script type="text/javascript">
  
  
  function getRowId(payeeId){
	  return "delrow_"+payeeId;
  }
  
  function deletePayee(payeeId) {
	  //This will select the row which is just clicked
	  //Making Ajax call and calling rest API
	  const options = {
              method: 'DELETE',
              body: {},
              headers: {
                'Accept': 'application/json'
              }
            };
	   var promise=fetch("/v3/customer/payee/"+payeeId,options);
	   promise.then(response=>response.json())
	   .then(function(data){
		   $("#"+getRowId(payeeId)).hide();
           if(data.status=="success") {
			 alert(data.message);        	   
           }		   
	   });
  }
  
  function openPayeeModal(payeeAccountNo,payeeName,payeeNickName,payeeId){
	  
	   
         $("#paccountNo").html(payeeAccountNo);
         $("#ppayeeName").html(payeeName);
         $("#photophoto").html(payeeAccountNo);
         $("#payeeNickName").val(payeeNickName);
         $("#ppayeeId").val(payeeId);
         ///Fetch photo as per account
         $("#photophoto").attr("src","/customers/acphoto?accNumber="+payeeAccountNo);
	  
	  //This is jQuery code to open a modal as per it;s id
	  $("#editPayeePopup").modal("show");
  }
  
  
  $(document).ready(function() {
	  
	  $("#payeeUpdateButton").click(function(){
		  var tpayeeid=$("#ppayeeId").val();
		  var tpayeeNickName=$("#payeeNickName").val();
		  var jobj={payeeid:tpayeeid,payeeNickName:tpayeeNickName};
		  //converting JavaScript object into JSON data 
		  var jsonData=JSON.stringify(jobj);
		  
		  const options = {
	              method: 'PUT',
	              body: jsonData,
	              headers: {
	                'Accept': 'application/json',
	                'Content-Type': 'application/json'
	              }
	            };
		   var promise=fetch("/v3/customer/payee",options);
		   promise.then(response=>response.json())
		   .then(function(data){
	           if(data.status=="success") {
	        	   $("#pop_"+tpayeeid).html(tpayeeNickName);
	        	   $("#editPayeePopup").modal("hide"); 	   
	           }		   
		   });
		  
	  });
       
    });
  </script>
  
  <style>
.ffooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 30px;
  background-color:#e9ffe7;
}
</style>

<script type="text/javascript">
  
function clearMsg(){
	   $("#errorMessage").html("");
}  

  
</script>

</head>
<body>


<header style="height: 30px;background-color: maroon;color:white;">
 
</header>
<div class="container">
  <br/><br/>
  <a th:href="@{/customer/addPayee}"> 
  <button type="button" class="btn btn-primary">Add payee</button>
  </a>

<a th:href="@{/customer/pendingPayee}">
<button type="button" class="btn btn-success">Pending payee</button>
</a>
 <a th:href="@{/customer/logout}"><button type="button" class="btn btn-warning">Logout</button></a>
 <br/>
  <div style="width: 100%">
 <hr/>
    <table  id="enquiryList" class="table table-striped table-bordered" style="width:100%">
  <thead>
  <tr>
  <td></td>
  <td> Payee name </td>
  <td> Nickname </td>
  <td> Payee account number </td>
   <td>Confirmation date</td>
   <td> Remark</td>
   <td> Status </td>
<td> Action </td>
  </tr>
  </thead>
 
  <tbody>
  <tr th:each="payeeVO,iter: ${payeeInfoList}" th:id="${'delrow_'+payeeVO.id}">
    <td><input type="checkbox" id="payeeSelected" name="payeeSelected"></td>
    <td th:text="${payeeVO.payeeName}"/>
    <td th:text="${payeeVO.payeeNickName}" th:id="${'pop_'+payeeVO.id}"/>
    <td th:text="${payeeVO.payeeAccountNo}"/>
    <td th:text="${#dates.format(payeeVO.dom, 'dd-MMM-yyyy HH:mm')}"></td>
    <td th:text="${payeeVO.remarks}"/>
    <td th:text="${payeeVO.payeeStatus}"/>
    <td>
    <button type="button" id="deleteButton"  class="btn btn-danger" th:onclick="|deletePayee(${payeeVO.id})|">Delete</button>
    <button type="button" id="editButton" th:onclick="|openPayeeModal('${payeeVO.payeeAccountNo}','${payeeVO.payeeName}','${payeeVO.payeeNickName}',${payeeVO.id})|"  class="btn btn-warning">Edit</button>
    
    
    </td>
  </tr>
  </tbody>
  </table>
 
   <br/>
 
    <button type="button" id="submitButton"  class="btn btn-primary">Make a transfert</button>
  </div>
</div>
<footer  class="ffooter">
</footer>

<!-- The APPROVE PAYEE Modal -->
  <div class="modal" id="editPayeePopup">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <input type="hidden" name="ppayeeId" id="ppayeeId"/>
        <div class="modal-header">
          <h4 class="modal-title">
          Update Payee</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          
        <!-- Modal body -->
        <div class="modal-body">
            A/C Number  - <span id="paccountNo"></span>
            <hr/>
            Payee Name  - <span id="ppayeeName"></span>
            <hr/>
             Photo  -   <img src="" id="photophoto" style="height: 60px;"/>
            <hr/>
             Payee Nick Name
            <input type="text" name="payeeNickName" id="payeeNickName" class="form-control">
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="payeeUpdateButton">Update Payee</button>
        </div>
      </div>
    </div>
  </div>
 
 

</body>
</html>
